*{
    margin: 0;
    padding: 0;
}<!--default margin padding change -->

body{
    background-color:##EEE;
    font-family:Times roman new;
}
.container{
    max-width: 1000px;
    background-color: #E0FFFF;
    margin: 0 auto;
    padding: 20px;
}
.profile-img{
    width: 100px;
    height: 120px;
    border:3px solid white;
    border-radius: 50%;
    float:left;
}
.header-bio{
    float:left;
    padding: 20px;
}
h1 ,h2 ,h3, h4, h5 ,h6{
    color:#11999e;
}
.header-contact{
    float:right;
    padding:20px;
}
.header-contact a{
text-decoration: none;
color:teal;
font-weight: bold;

}
.header-contact a:hover{
    color: tomato;
    text-decoration: underline;
    cursor: hand;

}
.clear-div{
    clear: both;
}
hr{
    border: solid black 2px;
    width: 100%;
    margin: 20px auto;
    border-bottom: none;
}
.left-div{
    width:30%;
    float:left;
}
.right-div{
    width:70%;
    float:left;
}
.common-hr{
    border:solid black 1px;
    border-bottom: none;
    width: 100%;
   
}
.footer-class{
    background-color: black;
    text-align: center;
    padding: 20px;
}
.footer-class a{
    color:white;
    text-decoration: none;
    margin: 20px;
}
.footer-class p{
    color:white;
    margin-top: 10px;
}